{% extends "restfulapi_app/base.html" %}

{% block style %}

{% endblock %}

 {% block index %}

   <div class="ui tablet computer only padded grid">
      <div class="ui container">
        <div class="ui inverted borderless huge menu">
          <a class="header item">Xinjie Duan</a>
          <a class="active item">Home</a> <a class="item" href="{% url 'restfulapi_app:apihome' %}">REST API Example</a>
          <a class="item">Contact</a>
          <div class="ui dropdown item">
            Dropdown <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item"> Action </a> <a class="item"> Another action </a>
              <a class="item"> Something else here </a>
              <div class="ui divider"></div>
              <div class="header">Navbar header</div>
              <a class="item"> Seperated link </a>
              <a class="item"> One more seperated link </a>
            </div>
          </div>
            <div class="right menu">
            {% if user.is_authenticated %}
            <div class="ui dropdown item">
            {{ user.get_username }} <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="{% url 'account_logout' %}"> Logout </a> 
            </div>
          </div>
              {% else %}
              <a class="item" href="{% url 'account_login' %}">Log in</a>
              <a class="item">Sign up</a>
              {% endif %}

            </div>
        </div>
      </div>
    </div>
    <div class="ui mobile only grid">
      <div class="ui top fixed inverted borderless huge menu">
        <a class="header item">Xinjie Duan</a>
        <div class="right menu">
          <div class="item">
            <button class="ui icon toggle basic inverted button">
              <i class="content icon"></i>
            </button>
          </div>
        </div>
        <div class="ui vertical borderless inverted fluid menu">
          <a class="active item">Home</a> <a class="item" href="{% url 'restfulapi_app:apihome' %}">REST API Example</a>
          <a class="item">Contact</a>
          <div class="ui dropdown item">
            Dropdown <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item"> Action </a> <a class="item"> Another action </a>
              <a class="item"> Something else here </a>
              <div class="ui divider"></div>
              <div class="header">Navbar header</div>
              <a class="item"> Seperated link </a>
              <a class="item"> One more seperated link </a>
            </div>
          </div>

              <a class=" item">Log in</a>
              <a class="item">Sign Up</a>
        </div>
      </div>
    </div>

    {% endblock %}

{% block footer %}

{% endblock %}


{% block js_content %}

{% endblock %}
