{% extends "restfulapi_app/index.html" %}
        {% load static %} 
    {% block style %}

 
      {% endblock %}


    {% block content %}
    <div class="slide">
      <div class="ui inverted vertical center aligned segment">
        <div class="ui active text container">
          <h2 class="ui inverted header">Current Position: </h2>
          <h1 class="ui inverted header">Python Developer | Data Scientist @PNC</h1>
          <p>
            Transform and automate the retail lending space with Web Apps and Data Science
          </p>
          <a href="{{ request.path }}#pnc">
          <div class="ui huge primary button">See details</div>
          </a>
        </div>
      </div>
      <div class="ui inverted vertical center aligned segment">
        <div class="ui active text container">
          <h1 class="ui inverted header">Another example headline.</h1>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
          <div class="ui huge primary button">Learn more</div>
        </div>
      </div>
      <div class="ui inverted vertical center aligned segment">
        <div class="ui active text container">
          <h1 class="ui inverted header">One more for good measure</h1>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
          <div class="ui huge primary button">Browse gallery</div>
        </div>
      </div>
    </div>

    <h4 class="ui horizontal divider header">
    <i class="cogs icon"></i>
    Skills
    </h4>
    <div class="ui container">
    
      <div class="ui vertical segment">
        <div class="ui stackable grid">
          <div class="ten wide column">
            <h1 class="ui blue header">
              Python Django
              <span class="sub">for web development</span>
            </h1>
            <big>

                <div class="ui bulleted list">
                <div class="item">Highly proficient in Python and Django web development</div>
                <div class="item">Solid experience with database development</div>
                <div class="item">Experience in designing and developing REST APIs</div>
               <div class="item">Experienced with HTML/CSS, Javascript development</div>
                <div class="item">Linux operating system</div>
                <div class="item">Experience with Heroku and AWS cloud infrastructure</div>
                </div>
            </big>
          </div>
          <div class="six wide right aligned column">
            <img
              class="ui image"
              src="{%static "restfulapi_app/img/django.jpg" %}" 
            />
          </div>
        </div>
      </div>
      <div class="ui vertical segment">
        <div class="ui stackable grid">
          <div class="six wide column">
            <img
              class="ui image"
              src="{%static "restfulapi_app/img/ML.png" %}" 
            />
          </div>
          <div class="ten wide column">
            <h1 class="ui blue header">
              Data Science and Machine Learning
            </h1>
            <p>
              Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
              ligula porta felis euismod semper. Praesent commodo cursus magna,
              vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
              commodo.
            </p>
          </div>
        </div>
      </div>
      <div class="ui vertical segment" id='pnc'>
        <div class="ui stackable grid">
          <div class="ten wide column">
            <h1 class="ui header">
              And lastly, <span class="sub">this one.</span>
            </h1>
            <p>
              Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
              ligula porta felis euismod semper. Praesent commodo cursus magna,
              vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
              commodo.
            </p>
          </div>
          <div class="six wide right aligned column">
            <img
              class="ui image"
              src="./static/images/wireframe/square-image.png"
            />
          </div>
        </div>
      </div>
      <footer class="ui vertical segment">
        <div class="ui two column grid">
          <div class="column">
            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
            <a href="#root">Terms</a>
          </div>
          <div class="right aligned column">
            <a href="#root">Back to top</a>
          </div>
        </div>
      </footer>
    </div>
    {% endblock %}


  {% block js_content %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script>
      $(document).ready(function() {
        $(".ui.toggle.button").click(function() {
          $(".mobile.only.grid .ui.vertical.menu").toggle(100);
        });

        $(".ui.dropdown").dropdown();

        $(".slide").slick({
          autoplay: true,
          dots: true,
          speed: 500
        });
      });
    </script>

    <script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
  </script>

      {% endblock %}