{% extends "restfulapi_app/base.html" %}

{% block style %}

{% endblock %}

 {% block index %}

   <div class="ui tablet computer only padded grid">
      <div class="ui container">
        <div class="ui inverted borderless huge menu">
          <a class="header item">Xinjie Duan</a>
          <a class="active item" href="{% url 'restfulapi_app:home' %}">Home</a> <a class="item" href="{% url 'restfulapi_app:apihome' %}">REST API Example</a>
          <a class="item">Contact</a>
          <div class="ui dropdown item">
            Links <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="https://www.linkedin.com/in/xinjie-duan-53627020/" >My Linkedin </a> 
              <a class="item" href="https://github.com/daodao32" >My GitHub </a>
              <div class="ui divider"></div>
              <div class="header">Web Development</div>
              https://www.djangoproject.com/
              <a class="item" href= 'https://djangopackages.org/'> The Django! </a>
              <a class="item" href= 'https://djangopackages.org/'> Django Packages</a>
              <a class="item" href='https://semantic-ui.com/'> Semantic UI </a>


            </div>
          </div>
            <div class="right menu">
            {% if user.is_authenticated %}
            <div class="ui dropdown item">
            {{ user.get_username }} <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="{% url 'account_logout' %}"> Logout </a> 
            </div>
          </div>
              {% else %}
              <a class="item" href="{% url 'account_login' %}">Log in</a>
              <a class="item">Sign up</a>
              {% endif %}

            </div>
        </div>
      </div>
    </div>


    {% endblock %}

{% block footer %}

{% endblock %}


{% block js_content %}

{% endblock %}
